<div class="main-wrapper">
    <section class="wrapper wrapper-lista">
        <input type="text" class="pesquisar_field" placeholder="Pesquisar...">
        <div class="wrapper-tabela">
            <table class="tabela">
                <tr>
                  <th>Descrição</th>
                </tr>
                <tr>
                  <td>Grupo campeão do arremeço de tora suíça.</td>
                </tr>
              </table>
        </div>
    </section>
    <section class="wrapper wrapper-editando">
        <div>
            <div class="besteira">
                <div>
                    Clique em um item para carregar <br>
                    seus dados no formulário.
                </div>
                <img src="assets/img/bat.svg" alt="">
            </div>
        </div>
    </section>
</div>