<div class="main-wrapper">
    <section class="wrapper wrapper-lista">
        <div>
            <button (click)="Add()">Adicionar</button>
        </div>
        <!-- <input type="text" class="pesquisar_field" placeholder="Pesquisar..."> -->
        <div class="wrapper-tabela">
            <table class="tabela">
                <tr>
                    <th>Pessoa</th>
                    <th>Grupo</th>
                    <th>Ano</th>
                    <th>Semestre</th>
                    <th>Papel</th>
                </tr>
                <tr *ngFor="let item of pessoa_grupo; let i = index" (click)="Load(i)">
                    <td>{{item.pessoa.nome}}</td>
                    <td>{{item.grupo.nome}}</td>
                    <td>{{item.ano}}</td>
                    <td>{{item.semestre}}</td>
                    <td>{{item.papel}}</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="wrapper wrapper-editando">
        <div>
            <div class="besteira" *ngIf="!editando && !adicionando">
                <div>
                    Clique em um item para carregar <br>
                    seus dados no formulário.
                </div>
                <img src="assets/img/bat.svg" alt="">
            </div>
            <div class="form" *ngIf="editando || adicionando">
                <form [formGroup]="form" action="">
                    <div class="title">
                        <span *ngIf="editando">Editando</span>
                        <span *ngIf="adicionando">Inserindo</span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Perfil</label>
                        <select formControlName="id_pessoa" id="">
                            <option *ngFor="let p of pessoas" value="{{p.id}}">{{p.nome}}</option>
                        </select>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Pessoa</label>
                        <select formControlName="id_grupo" id="">
                            <option *ngFor="let r of grupos" value="{{r.id}}">{{r.nome}}</option>
                        </select>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Ano</label>
                        <input type="text" class="form__field" formControlName="ano">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Semestre</label>
                        <input type="text" class="form__field" formControlName="semestre">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Papel</label>
                        <input type="text" class="form__field" formControlName="papel">
                    </div>
                    <div style="padding: 10px 0;">
                        <button type="button" (click)="Save()">Salvar</button>
                        <button type="button" class="delete" (click)="Delete()" *ngIf="editando">Deletar</button>
                        <button type="button" class="cancel" (click)="Cancel()">Calcelar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>