nav {
    padding: 20px;

    a {
        text-decoration: none;
        color: #666;
        font-weight: 700;
        font-size: 20px;
        margin-right: 10px;

        &.active {
            color: #fff;
            font-size: 30px;
        }
    }
}